<mat-card class="pokemon" *ngIf="pokemon">
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile colspan="1" rowspan="1">
        <div class="avatar">
          <img mat-card-lg-image [src]="'assets/img/official-artwork/' + pokemon.id + '.png'"/>
          <span>No. {{pokemon.id | number:'3.0-0'}}</span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-list>
          <mat-list-item>
            <div class="name">
              <span>{{ pokemon.name }}</span>
              <button mat-icon-button (click)="audio.play()">
                <mat-icon>play_circle_outline</mat-icon>
              </button>
            </div>
          </mat-list-item>
          <mat-list-item>
            <mat-chip-set>
              <mat-chip *ngFor="let type of pokemon.types">
                {{type}}
              </mat-chip>
            </mat-chip-set>
          </mat-list-item>
          <mat-list-item>
            <span>Taille: {{ pokemon.height | number:'1.1-1' }} m</span>
          </mat-list-item>
          <mat-list-item>
            <span>Poids: {{ pokemon.weight | number:'1.1-1' }} kg</span>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        {{ pokemon.description }}
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <audio autoplay #audio>
    <source [src]="'assets/audio/' + pokemon.id + '.mp3'" type="audio/mp3">
  </audio>
</mat-card>
